#button1
{
background-color:white;
border:none;
font-size:25px;
width:40px;
height:40px;
}
table
{
margin:150px 600px;
padding:10px;
cellspacing:20px;
height:300px;
width:200px;
border-radius: 20px;
align-content: center;
}
#tb
{
height:50px;
width:200px;
font-size:30px;
}
h1
{
border-align:center;
}
h1:hover
{

background-color:white;

}